/everything.pdf
/everything.tex
/bib.bib.bak
/auto/everything.el
/ball.png
/ball1.png
/ball2.png
/everything.aux
/everything.bbl
/everything.blg
/everything.dvi
/everything.log
/everything.out
/everything.synctex.gz
/everything.tex.pdf
/everything.tex.tex
/file.png
/fit.log
/output.png
/ltxpng/everything_09da250da2144129236dd8fa0df23b6730483da1.png
/ltxpng/everything_1ded09092a75d30e70d8ac87498d1a4290bce992.png
/ltxpng/*.png
/everything.ps
/everything.txt
